html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;

	overflow: hidden;
	overscroll-behavior: none;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

.App {
	display: grid;
	grid-template: "m s n" 1fr / 1fr 300px min-content;
	z-index: 0;

	@media (max-aspect-ratio: 1/1) {
		grid-template: 
		"m n" 1fr 
		"s n" 1fr / 1fr min-content;
	}
}

.App_Presentation_Element {
	grid-area: m;
}

.App_Sidebar {
	grid-area: s;
	overflow: auto;
}

.App_NavRail {
	grid-area: n;

	display: flex;
	flex-direction: column;

	z-index: 1; /* natural z-index is not being respected in iOS Safari */
}

.container {
	background-color: var(--surfaceContainer);
	color: var(--onSurfaceContainer);
}

.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.InkWellButton {
	display: block;
	padding: 0;
	transition: color .2s ease;
	cursor: pointer;
	color: inherit;

	position: relative;
	outline-offset: calc(-1 * var(--outline-width));

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: inherit;
		background-color: currentColor;
		opacity: 0;
		transition: opacity .2s ease;
	}

	@media (hover: hover) {
		&:hover::before {
			opacity: .1;
		}
	}

	&:active::before {
		opacity: .2;
	}

	&[data-selected] {
		color: var(--primary);
	}
}

.CircleButton {
	border-radius: 9999px;

	--width: 60px;
	width: var(--width);
	height: var(--width);

	display: grid;
	place-items: center;
}

.FloatingCircleButton {
	--width: 50px;
	width: var(--width);
	height: var(--width);

	display: grid;
	place-items: center;
	border-radius: 9999px;
	font-size: 1.2rem;
	
	background-color: var(--onSurface);
	color: var(--surface);

	outline-offset: 3px;
}

.PanelButton {
	display: grid;
	padding: .6rem;

	width: 100%;
}

.App_Presentation {
	position: relative;

	 > * {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}
}

.App_InfoDialog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity .2s ease;
	will-change: opacity;
	pointer-events: none;

	z-index: 2;

	&[data-opened] {
		opacity: 1;
		pointer-events: auto;
	}
}