html, body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
}

.App {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: grid;
	grid-template: "m s n" 1fr / 1fr 300px min-content;

	svg {
		fill: currentColor;
		height: 1em;
		width: 1.2em;
	}
}

@media (max-aspect-ratio: 1/1) {
	.App {
		grid-template: 
		"m n" 1fr 
		"s n" 1fr / 1fr min-content;
	}
}

.App_Presentation_Element {
	grid-area: m;
}

.App_Sidebar {
	grid-area: s;
	overflow: auto;
}

.App_Algorithms,
.App_Data {
	button {
		text-align: center !important;
		padding: .5em;
	}
}

.App_Presentation_Selector {
	padding: .5em;
}


.App_NavRail {
	grid-area: n;
}


.App_InfoDialog {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity .2s ease;
	will-change: opacity;
	pointer-events: none;
}

.App_InfoDialog[data-opened] {
	opacity: 1;
	pointer-events: auto;
}