app-container {
	display: grid;
	grid-template: "m s n" 1fr / 1fr 300px min-content;
}

@media (max-aspect-ratio: 1/1) {
	app-container {
		grid-template: 
		"m n" 1fr 
		"s n" 1fr / 1fr min-content;
	}
}

.app-main {
	grid-area: m;
}

.app-sidebar {
	grid-area: s;
	overflow: auto;
}

.app-algorithms-sidebar,
.app-data-sidebar {
	button {
		text-align: center !important;
		padding: .5em;
	}
}

.app-presentations-sidebar > select {
	padding: .5em;
}


.app-nav-rail {
	grid-area: n;
}

.infoDialog {
	opacity: 1;
	transition: opacity .2s ease;
	will-change: opacity;
}


body:not([data-dialog-opened]) > .infoDialog {
	opacity: 0;
	pointer-events: none;
	
	button {
		pointer-events: none;
	}
}

.action-buttons {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: start;
	grid-gap: .5em;
	padding: .5em;
}

.infoDialog {
	opacity: 1;
	transition: opacity .2s ease;
	will-change: opacity;
}


body:not([data-dialog-opened]) > .infoDialog {
	opacity: 0;
	pointer-events: none;
	
	button {
		pointer-events: none;
	}
}